.box-style(@bg, @size) {
  background-color: @bg;
  width: @size * 1px;
  height: @size * 1px;
  border: @border-style;
  border-radius: @radius;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  color: white;
}
